{{ define "main" }}
<main aria-role="main">


    <!--main flower animation bg-->
    <div class="bgFlower">
        <img src="imgs/SVG/branchAsset%2012.svg" class="bgFlower bgBranchL">
        <img src="imgs/SVG/branchAsset%2013.svg" class="bgFlower bgBranchR">
        <img src="imgs/SVG/branchAsset%2014.svg" class="bgFlower bgBranchMain">
        <img src="imgs/SVG/cogAsset%2017.svg" class="bgFlower bgCog">
        <img src="imgs/SVG/cogAsset%2018.svg" class="bgFlower bgCogR">
        <img src="imgs/SVG/teethAsset%2015.svg" class="bgFlower bgTeethL">
        <img src="imgs/SVG/teethAsset%2016.svg" class="bgFlower bgTeethR">
        <!--    <div style="width:50px;height:50px;border:1px solid red;left:25%; top:38%; z-index: 3" class="bgFlower"></div>-->
        <img src="imgs/SVG/middleFlowerAsset%2019.svg" class="bgFlower midFlLeft">
        <img src="imgs/SVG/middleFlowerAsset%2020.svg" class="bgFlower midFlLeft">
        <img src="imgs/SVG/middleFlowerAsset%2021.svg" class="bgFlower midFlRight">
        <img src="imgs/SVG/middleFlowerAsset%2022.svg" class="bgFlower midFlRight">

        <img src="imgs/SVG/rightFlowerAsset%2023.svg" class="bgFlower midFlLeft" style="transform-origin: 68% 60% ">
        <img src="imgs/SVG/rightFlowerAsset%2024.svg" class="bgFlower midFlLeft">
        <img src="imgs/SVG/rightFlowerAsset%2025.svg" class="bgFlower midFlRight" style="transform-origin: 75% 60% ">
        <img src="imgs/SVG/rightFlowerAsset%2026.svg" class="bgFlower midFlRight">
        <img src="imgs/SVG/leftflower.svg" class="bgFlower leftFlower">
    </div>

    <div class="flex-container">

        {{ partial "mobile_nav_toggle.html" . }}


        <div class="flex-highlightsL">
            <div class="highlights" id="highlight1" >
                <a href="/portfolio/blossombranch"><img class="highlight-image" src="/static/img/portfolio/BlossomBranch/blossomBranch.gif" /></a>
            </div>

            <div class="highlights" id="highlight2" data-aos="fade-right">
                <img class="highlight-image" src="https://picsum.photos/500/300?random=1" />
            </div>

            <div class="highlights" id="highlight2" data-aos="fade-right">
                <img class="highlight-image" src="https://picsum.photos/500/300?random=1" />
            </div>

            <div class="highlights" id="highlight2" data-aos="fade-right">
                <img class="highlight-image" src="https://picsum.photos/500/300?random=1" />
            </div>
        </div>

        <div class="flex-highlightsR">
            <div class="highlights" id="highlight3">
                <img class="highlight-image" src="https://picsum.photos/500/400?random=1" />
            </div>

            <div class="highlights" data-aos="fade-left">
                <img class="highlight-image" src="https://picsum.photos/500/400?random=1" />
            </div>


        </div>

    </div>

    <div id="seeMore">
        <div>
            <p>See More Work</p>
        </div>
    </div>



    <!--partial
    <script src='https://unpkg.com/aos@2.3.0/dist/aos.js'></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css">-->

</main>

<!-- partial -->
<script src='https://unpkg.com/aos@2.3.0/dist/aos.js'></script>
<script src="./script.js"></script>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://unpkg.com/aos@2.3.0/dist/aos.css'>

{{ end }}


