{{ define "main" }}

<h1>About</h1>

<p>
Meg(an Benson) is a computational artist, freshly graduated with a Digital Arts Computing BSc.
     <a href="about/">(more)</a>
</p>
<br/>

<h1>Latest projects</h1>

<div class="posts-list">
{{ with .Site.GetPage "/projects" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>    
            <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
            {{ .Summary }}
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Latest sketches</h1>

<div class="image-grid">
{{ with .Site.GetPage "/sketches" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

{{ end }}